<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>This is who we are</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis qui, exercitationem eaque rerum voluptatibus porro dolor a doloremque debitis nihil harum? Molestiae velit quia corporis saepe omnis quo explicabo maiores necessitatibus facere unde quis facilis temporibus magni inventore accusamus consectetur, vitae asperiores fugiat eveniet officia quae doloribus recusandae distinctio. Nobis, mollitia amet!</p>
</body>
</html>