<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pheixon | <%= title %> </title>
</head> -->
<%- include('./partials/header.ejs')%>
<body>

    <!-- <nav>
        <div class="site-title">
            <a href="/">Phexion</a>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, fugiat quam sit repudiandae aspernatur earum? Corporis animi ipsa tenetur eos modi debitis at qui voluptates. Error vitae in unde a.</p>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/bogs/create">create New Blog</a></li>
            </ul>
        </div>
    </nav> -->

    <%- include('./partials/nav.ejs') %>
    
    <h1>About</h1>
    <p>This is who we are</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis qui, exercitationem eaque rerum voluptatibus porro dolor a doloremque debitis nihil harum? Molestiae velit quia corporis saepe omnis quo explicabo maiores necessitatibus facere unde quis facilis temporibus magni inventore accusamus consectetur, vitae asperiores fugiat eveniet officia quae doloribus recusandae distinctio. Nobis, mollitia amet!</p>

    <%- include('./partials/footer.ejs')%>
</body>
</html>