<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pheixon | <%= title%></title>
</head> -->

<%- include('./partials/header.ejs')%>

<body>
    <%- include('./partials/nav.ejs')%>

    <h1>Contact Us</h1>
    <p>115,20- Valor Street, Kizom, JM-524108</p>

    <%- include('./partials/footer.ejs')%>
</body>
</html>