<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playzone</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: rgb(243, 224, 148);
        }
        ul {
            list-style-type: none;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <h1 style="margin:60px 50px 5px 100px;">Play Zone </h1>
    <p style="margin:60px 50px 5px 100px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis molestias ratione modi aliquid ullam sint placeat ad voluptate nostrum, porro fuga nemo eum ut quis corporis impedit eius incidunt numquam.</p>
    <h2 style="margin:60px 50px 50px 100px;" >Trending Games</h2>
    <ul style="margin:2px 50px 5px 80px;">
        <li> DOTA2</li>
        <li>FORTNITE</li>
        <li>FEARS</li>
        <li>GTAV</li>
    </ul>
</body>
</html>