body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: rgb(91, 94, 92);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display:flex;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  border-bottom: 1px solid grey ;
  padding: 10px;
  background-color: rgb(71, 245, 245);
}
.navbar h1{
  color: rgba(136, 46, 172, 0.836);
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  text-decoration: none;
  margin-left: 15px;
  padding: 7px;
}

.navbar a:hover{
  color: red;
  border: 1px transparent rgb(221, 218, 218);
  border-radius: 1em;
  /* background-color: rgb(221, 218, 218); */
  background-color: rgb(59, 228, 228);
  
}

.btn{
  margin-left: 20px;
  padding: 8px 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 190, 211);
  border:1px solid blue;
  border-radius: 14px;
}

/* blog-preview */
.blog-preview{
  padding: 7px 14px;
  margin: 15px 3px;
  border-bottom: 1px solid rgb(188, 212, 151);
}

.blog-preview:hover{
  box-shadow: 1px 4px 12px 4px rgba(170, 154, 177, 0.836);
  background-color:#c5e9eb;
}
.blog-preview h2{
  color: green;
}
.blog-preview .authr{
  color: cadetblue;
  font-weight: 500;
}
.blog-preview .timeline{
  color: rgb(99, 136, 138);
}

/* Tech Glimpse  */
.tit{
  color:rgb(46, 121, 98);
  margin: 10px 0 10px 9px;
}


.mainup{
  display:inline-flex;
}

/* react componet icon delete */
.btnD{
  background-color: rgb(210, 227, 231);
  border: none;
  border-radius: 48%;
  cursor: pointer;
}
.icon{
  padding-top: 1px;
  border: none;
  font-size: larger;
  height: 20px;
  width: 24px;
  color:rgb(212, 115, 115);
  fill: rgb(14, 133, 14);
}

/* hovering  */
.btnD:hover .icon{
  /* background-color: rgb(236, 116, 95); */
  fill: rgb(252, 0, 0);
}
.btnD:hover{
  background-color: #f8d7da ;
}

.mainup .btnD{
  margin:20px 0px 20px 70px;
  justify-content: center;
  align-items: center;
}

/* loading page styles  */

.progress{
  box-sizing: border-box;
  /* margin-bottom: 50px; */
  left: 50%;
  top: 17%;
  position: absolute;
  /* position: relative; */
  background-color: #f3efef;
  transform: translate(-50%,-50%);
  height: 14px;
  width: 650px;
  border: 2px solid #e7bb96;
  border-radius: 15px;
}
.progress .color{
  position: absolute;
  background-color: #33a7f5;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 759ms infinite linear;    
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 80%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};


